{% extends 'base.html'%}

{% block content %}
<div class="container-fluid tm-container-content tm-mt-60">   
    <div class="row tm-mb-90 tm-gallery">
    {% for theme in themes %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="{{ theme.theme_img.url }}" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{theme.theme_name}}</h2>
                    <a href="/list/{{ theme.pk }}">View more</a>
                </figcaption>                    
            </figure>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}